* {
    background: #FFFFFF;
    margin: 0;
    padding: 0;
}

.title_nosso {
    color: #FFF176;
    padding: 1.7%;
    text-align: center;
    display: block;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
}

.cards_block {
    display: block;
    text-align: center;
}

.cards {
    border: 3px solid #FFF176;
    height: 300px;
    width: 200px;
    margin: 3px;
    border-radius: 5px;
    background:  #D2B48C;
    display: inline-block;
}

.carta_escondida {
    background: none;
    padding-top: 50%;
    max-width: 50;
    min-width: 50;
    max-height: 100px;
    min-height: 100px;
    opacity: 1;
    transition: opacity 0.5s ease;
}

.carta_virada {
    margin-left: -48px;
    position: absolute;
    background: none;
    height: 300px;
    width: 200px;
    border-radius: 3px;
    opacity: 0;
}
